@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #1a181d;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}

.header {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 100;
}
@media (max-width: 1200px) {
  .header {
    top: 20px;
  }
}
@media (max-width: 576px) {
  .header {
    top: 16px;
  }
}
.header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 38px 56px;
}
@media (max-width: 1200px) {
  .header .container {
    padding: 38px 40px;
  }
}
@media (max-width: 992px) {
  .header .container {
    padding: 20px 40px;
  }
}
.header__logo {
  flex: 0 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-image {
  flex: 0 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}
.header__social {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 176px;
}
@media (max-width: 1200px) {
  .header__social {
    justify-content: center;
    padding: 0;
  }
}
@media (max-width: 740px) {
  .header__social {
    position: absolute;
    top: 100%;
    right: 48px;
    flex-direction: column;
  }
}
.header__social-link {
  flex: 0 0 auto;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
.header__social-link:active {
  transform: scale(0.9);
}
.header__social-link_search {
  background-image: url(../assets/icons/search-outline.svg);
}
.header__social-link_account {
  background-image: url(../assets/icons/person-outline.svg);
}
.header__social-link_favourite {
  background-image: url(../assets/icons/heart-outline.svg);
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__info-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 42px;
  padding: 10px 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
@media (max-width: 992px) {
  .header__info-contacts {
    position: absolute;
    top: 100%;
    left: 40px;
  }
}
.header__info-contacts-link {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.header__info-catalog {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 175px;
  padding: 0 25px;
  aspect-ratio: 3.45238/1;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #000;
  border: none;
  background: url(../assets/catalog-button.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__info-catalog {
    width: 145px;
    padding: 0 20px;
    font-size: 12px;
  }
}
@media (max-width: 740px) {
  .header__info-catalog {
    display: none;
  }
}
.header__info-catalog:active {
  transform: scale(0.97);
}
.header__controls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__controls-burger {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  background: url(../assets/icons/burger.svg) center no-repeat;
  background-color: rgba(255, 255, 255, 0.36);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__controls-burger {
    width: 35px;
    height: 35px;
  }
}
.header__controls-burger:active {
  transform: scale(0.96);
}

.first-screen {
  padding-top: 42px;
}
@media (max-width: 1200px) {
  .first-screen {
    padding-top: 20px;
  }
}
@media (max-width: 576px) {
  .first-screen {
    padding-top: 16px;
  }
}
.first-screen__content {
  position: relative;
}
.first-screen__content-bg {
  width: 100%;
  height: 780px;
  overflow: hidden;
  border-radius: 20px;
  background: url(../assets/first-screen-bg-min.webp) left top -1px no-repeat;
  background-size: 1360px;
}
@media (max-width: 992px) {
  .first-screen__content-bg {
    height: 662px;
    background-image: url(../assets/first-screen-bg-md-min.webp);
    background-position: top left -2px;
    background-size: 1024px;
  }
}
@media (max-width: 740px) {
  .first-screen__content-bg {
    height: 554px;
    background-image: url(../assets/first-screen-bg-sm-min.webp);
    background-position: top -1px left -1px;
    background-size: 720px;
  }
}
.first-screen__title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px 14px;
  max-width: 874px;
  width: 100%;
  padding: 36px 56px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;
  color: #fff;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .first-screen__title {
    max-width: 680px;
    padding: 24px 30px;
    font-size: 42px;
  }
}
@media (max-width: 740px) {
  .first-screen__title {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 5;
    max-width: none;
    padding: 0;
    margin-top: -20px;
    font-size: 24px;
    line-height: 136%;
  }
}
@media (max-width: 740px) {
  .first-screen__title-we {
    flex: 1 0 100%;
  }
}
.first-screen__title-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .first-screen__title-image {
    width: 116px;
  }
}
@media (max-width: 740px) {
  .first-screen__title-image {
    width: 70px;
  }
}
.first-screen__nav {
  position: absolute;
  right: 30px;
  bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
@media (max-width: 1200px) {
  .first-screen__nav {
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    left: 20px;
    right: 20px;
    bottom: 220px;
  }
}
@media (max-width: 992px) {
  .first-screen__nav {
    bottom: 180px;
  }
}
@media (max-width: 740px) {
  .first-screen__nav {
    top: 420px;
    bottom: auto;
  }
}
@media (max-width: 576px) {
  .first-screen__nav {
    top: 490px;
    left: auto;
  }
}
.first-screen__nav-link {
  order: 0;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  transition: all ease-in-out 0.1s;
  will-change: background-color, transform;
  cursor: pointer;
}
@media (max-width: 992px) {
  .first-screen__nav-link {
    padding: 9px 15px;
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 576px) {
  .first-screen__nav-link {
    display: none;
  }
}
.first-screen__nav-link:hover {
  background-color: rgba(255, 255, 255, 0.36);
}
.first-screen__nav-link:active {
  transform: scale(0.97);
}
.first-screen__nav-link:last-child {
  margin-right: 42px;
}
@media (max-width: 1200px) {
  .first-screen__nav-link:last-child {
    margin: 0;
  }
}
.first-screen__nav-catalog {
  position: absolute;
  right: 0;
  bottom: 0;
  order: 1;
  display: inline-block;
  height: 42px;
  width: 42px;
  border-radius: 42px;
  background: url(../assets/catalog-button.svg) right center no-repeat;
  background-size: auto 42px;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .first-screen__nav-catalog {
    position: static;
  }
}
@media (max-width: 992px) {
  .first-screen__nav-catalog {
    height: 35px;
    width: 35px;
    background-size: auto 35px;
  }
}
@media (max-width: 576px) {
  .first-screen__nav-catalog {
    display: flex;
    align-items: center;
    height: auto;
    width: 167px;
    padding: 0 20px;
    aspect-ratio: 4/1;
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
  }
}
.first-screen__nav-catalog:active {
  transform: scale(0.94);
}
.first-screen__nav-catalog-text {
  display: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #1a181d;
}
@media (max-width: 576px) {
  .first-screen__nav-catalog-text {
    display: inline-block;
  }
}

.about {
  padding: 110px 0 100px;
}
@media (max-width: 992px) {
  .about {
    padding: 90px 0 70px;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 70px 0 50px;
  }
}
.about .container {
  display: flex;
  gap: 50px;
}
@media (max-width: 992px) {
  .about .container {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .about .container {
    gap: 35px;
  }
}
.about__heading {
  flex: 0 0 calc(45% - 25px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px 50px;
}
@media (max-width: 992px) {
  .about__heading {
    flex: 1 1 100%;
    flex-direction: row;
  }
}
@media (max-width: 576px) {
  .about__heading {
    flex-direction: column;
  }
}
.about__heading-title {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}
@media (max-width: 992px) {
  .about__heading-title {
    gap: 5px;
    font-size: 14px;
    line-height: 171%;
  }
}
.about__heading-title-number {
  letter-spacing: 0.15em;
  opacity: 0.6;
}
.about__heading-description-text {
  max-width: 420px;
  font-weight: 400;
  font-size: 18px;
  line-height: 143%;
  color: #fff;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .about__heading-description-text {
    max-width: 320px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .about__heading-description-text {
    max-width: none;
  }
}
.about__info {
  flex: 0 0 calc(55% - 25px);
}
@media (max-width: 992px) {
  .about__info {
    flex: 1 1 100%;
  }
}
.about__info-description {
  margin: 0 0 90px;
  font-weight: 400;
  font-size: 35px;
  line-height: 143%;
  color: #fff;
}
@media (max-width: 1200px) {
  .about__info-description {
    margin: 0 0 70px;
    font-size: 32px;
    line-height: 130%;
  }
}
@media (max-width: 992px) {
  .about__info-description {
    margin: 0 0 35px;
    font-size: 30px;
    line-height: 127%;
  }
}
@media (max-width: 576px) {
  .about__info-description {
    font-size: 22px;
    line-height: 145%;
  }
}
.about__info-description span {
  font-style: italic;
  font-weight: 600;
}
.about__info-controls-button {
  position: relative;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 58px;
  padding: 10px 36px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 48px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .about__info-controls-button {
    height: 45px;
    padding: 10px 28px;
    font-weight: 500;
    font-size: 13px;
  }
}
.about__info-controls-button:hover {
  color: #1a181d;
  background-color: #ffffff;
}
.about__info-controls-button:active {
  transform: scale(0.97);
}
.about__info-controls-button::after {
  content: "";
  position: absolute;
  left: 100%;
  height: 58px;
  width: 58px;
  border-radius: 48px;
  background: url(../assets/icons/arrow.svg) center no-repeat;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .about__info-controls-button::after {
    height: 45px;
    width: 45px;
  }
}