@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #1a181d;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}

.header {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 100;
}
@media (max-width: 1200px) {
  .header {
    top: 20px;
  }
}
@media (max-width: 576px) {
  .header {
    top: 16px;
  }
}
.header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 38px 56px;
}
@media (max-width: 1200px) {
  .header .container {
    padding: 38px 40px;
  }
}
@media (max-width: 992px) {
  .header .container {
    padding: 20px 40px;
  }
}
.header__logo {
  flex: 0 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-image {
  flex: 0 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}
.header__social {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 176px;
}
@media (max-width: 1200px) {
  .header__social {
    justify-content: center;
    padding: 0;
  }
}
@media (max-width: 740px) {
  .header__social {
    position: absolute;
    top: 100%;
    right: 48px;
    flex-direction: column;
  }
}
.header__social-link {
  flex: 0 0 auto;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
.header__social-link:active {
  transform: scale(0.9);
}
.header__social-link_search {
  background-image: url(../assets/icons/search-outline.svg);
}
.header__social-link_account {
  background-image: url(../assets/icons/person-outline.svg);
}
.header__social-link_favourite {
  background-image: url(../assets/icons/heart-outline.svg);
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__info-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 42px;
  padding: 10px 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
@media (max-width: 992px) {
  .header__info-contacts {
    position: absolute;
    top: 100%;
    left: 40px;
  }
}
.header__info-contacts-link {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.header__info-catalog {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 175px;
  padding: 0 25px;
  aspect-ratio: 3.45238/1;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #000;
  border: none;
  background: url(../assets/catalog-button.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__info-catalog {
    width: 145px;
    padding: 0 20px;
    font-size: 12px;
  }
}
@media (max-width: 740px) {
  .header__info-catalog {
    display: none;
  }
}
.header__info-catalog:active {
  transform: scale(0.97);
}
.header__controls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__controls-burger {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  background: url(../assets/icons/burger.svg) center no-repeat;
  background-color: rgba(255, 255, 255, 0.36);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__controls-burger {
    width: 35px;
    height: 35px;
  }
}
.header__controls-burger:active {
  transform: scale(0.96);
}

.main {
  overflow: hidden;
}

.footer__main {
  padding: 120px 0 90px;
}
@media (max-width: 992px) {
  .footer__main {
    padding: 66px 0 57px;
  }
}
@media (max-width: 576px) {
  .footer__main {
    padding: 60px 0 35px;
  }
}
.footer__main-top {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 36px;
}
@media (max-width: 576px) {
  .footer__main-top {
    flex-direction: column;
  }
}
.footer__main-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 45px;
}
@media (max-width: 992px) {
  .footer__main-bottom {
    flex-wrap: wrap;
  }
}
@media (max-width: 740px) {
  .footer__main-bottom {
    gap: 25px;
  }
}
@media (max-width: 576px) {
  .footer__main-bottom {
    justify-content: center;
    gap: 10px;
  }
}
.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 576px) {
  .footer__logo {
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
.footer__logo-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media (max-width: 576px) {
  .footer__logo-link {
    justify-content: center;
  }
}
.footer__logo-image {
  display: block;
  max-width: 100%;
  width: 152px;
  height: auto;
}
.footer__logo-text {
  max-width: 182px;
  font-weight: 400;
  font-size: 12px;
  color: #dadada;
  opacity: 0.6;
}
@media (max-width: 576px) {
  .footer__logo-text {
    font-size: 11px;
    line-height: 127%;
    text-align: center;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__social-title {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-align: right;
  color: #fff;
}
.footer__social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.footer__social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 40px;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__social-link_whatsapp {
  background-image: url(../assets/icons/whatsapp.svg);
}
.footer__social-link_tg {
  background-image: url(../assets/icons/telegram.svg);
}
.footer__social-link_dzen {
  background-image: url(../assets/icons/dzen.svg);
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 992px) {
  .footer__contacts {
    flex: 0 0 auto;
    order: 1;
  }
}
@media (max-width: 576px) {
  .footer__contacts {
    align-items: center;
  }
}
@media (max-width: 576px) {
  .footer__contacts:last-child {
    order: 1;
  }
}
@media (max-width: 576px) {
  .footer__contacts:first-child {
    order: 2;
  }
}
.footer__contacts-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  min-width: 224px;
  max-width: 290px;
  min-height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px 10px 50px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 52px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 20px center;
}
.footer__contacts-link_location {
  background-image: url(../assets/icons/location.svg);
}
.footer__contacts-link_mail {
  background-image: url(../assets/icons/mail.svg);
}
.footer__contacts-link_phone {
  background-image: url(../assets/icons/phone-call.svg);
}
.footer__contacts-link_download {
  background-image: url(../assets/icons/download.svg);
}
.footer__contacts-link-description {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  opacity: 0.6;
}
.footer__nav {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1200px) {
  .footer__nav {
    flex: 0 0 360px;
    gap: 25px 16px;
  }
}
@media (max-width: 992px) {
  .footer__nav {
    flex: 1 1 100%;
    order: 0;
  }
}
@media (max-width: 576px) {
  .footer__nav {
    gap: 15px;
    margin-bottom: 20px;
  }
}
.footer__nav-link {
  flex: 0 0 calc(50% - 25px);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
@media (max-width: 1200px) {
  .footer__nav-link {
    flex: 0 0 calc(50% - 8px);
  }
}
@media (max-width: 992px) {
  .footer__nav-link {
    flex: 0 0 calc(25% - 12px);
  }
}
@media (max-width: 576px) {
  .footer__nav-link {
    flex: 1 1 100%;
    text-align: center;
  }
}
.footer__copyrights {
  padding: 18px 0;
  background-color: #000000;
}
.footer__copyrights .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px 50px;
}
@media (max-width: 740px) {
  .footer__copyrights .container {
    flex-direction: column;
  }
}
.footer__copyrights .container > span, .footer__copyrights .container > a {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #fff;
  text-align: center;
  opacity: 0.6;
}
@media (max-width: 992px) {
  .footer__copyrights .container > span, .footer__copyrights .container > a {
    line-height: 133%;
  }
}
.footer__copyrights .container > span:nth-child(1), .footer__copyrights .container > a:nth-child(1) {
  text-align: left;
}
@media (max-width: 740px) {
  .footer__copyrights .container > span:nth-child(1), .footer__copyrights .container > a:nth-child(1) {
    text-align: center;
  }
}
.footer__copyrights .container > span:nth-child(2), .footer__copyrights .container > a:nth-child(2) {
  flex: 0 0 auto;
}
@media (max-width: 740px) {
  .footer__copyrights .container > span:nth-child(2), .footer__copyrights .container > a:nth-child(2) {
    flex: 0 1 auto;
  }
}
.footer__copyrights .container > span:nth-child(3), .footer__copyrights .container > a:nth-child(3) {
  text-align: right;
}
@media (max-width: 740px) {
  .footer__copyrights .container > span:nth-child(3), .footer__copyrights .container > a:nth-child(3) {
    text-align: center;
  }
}

.first-screen {
  padding-top: 42px;
}
@media (max-width: 1200px) {
  .first-screen {
    padding-top: 20px;
  }
}
@media (max-width: 576px) {
  .first-screen {
    padding-top: 16px;
  }
}
.first-screen__content {
  position: relative;
}
.first-screen__content-bg {
  width: 100%;
  height: 780px;
  overflow: hidden;
  border-radius: 20px;
  background: url(../assets/first-screen-bg-min.webp) left top -1px no-repeat;
  background-size: 1360px;
}
@media (max-width: 992px) {
  .first-screen__content-bg {
    height: 662px;
    background-image: url(../assets/first-screen-bg-md-min.webp);
    background-position: top left -2px;
    background-size: 1024px;
  }
}
@media (max-width: 740px) {
  .first-screen__content-bg {
    height: 554px;
    background-image: url(../assets/first-screen-bg-sm-min.webp);
    background-position: top -1px left -1px;
    background-size: 720px;
  }
}
.first-screen__title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px 14px;
  max-width: 874px;
  width: 100%;
  padding: 36px 56px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;
  color: #fff;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .first-screen__title {
    max-width: 680px;
    padding: 24px 30px;
    font-size: 42px;
  }
}
@media (max-width: 740px) {
  .first-screen__title {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 5;
    max-width: none;
    padding: 0;
    margin-top: -20px;
    font-size: 24px;
    line-height: 136%;
  }
}
@media (max-width: 740px) {
  .first-screen__title-we {
    flex: 1 0 100%;
  }
}
.first-screen__title-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .first-screen__title-image {
    width: 116px;
  }
}
@media (max-width: 740px) {
  .first-screen__title-image {
    width: 70px;
  }
}
.first-screen__nav {
  position: absolute;
  right: 30px;
  bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
@media (max-width: 1200px) {
  .first-screen__nav {
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    left: 20px;
    right: 20px;
    bottom: 220px;
  }
}
@media (max-width: 992px) {
  .first-screen__nav {
    bottom: 180px;
  }
}
@media (max-width: 740px) {
  .first-screen__nav {
    top: 420px;
    bottom: auto;
  }
}
@media (max-width: 576px) {
  .first-screen__nav {
    top: 490px;
    left: auto;
  }
}
.first-screen__nav-link {
  order: 0;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  transition: all ease-in-out 0.1s;
  will-change: background-color, transform;
  cursor: pointer;
}
@media (max-width: 992px) {
  .first-screen__nav-link {
    padding: 9px 15px;
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 576px) {
  .first-screen__nav-link {
    display: none;
  }
}
.first-screen__nav-link:hover {
  background-color: rgba(255, 255, 255, 0.36);
}
.first-screen__nav-link:active {
  transform: scale(0.97);
}
.first-screen__nav-link:last-child {
  margin-right: 42px;
}
@media (max-width: 1200px) {
  .first-screen__nav-link:last-child {
    margin: 0;
  }
}
.first-screen__nav-catalog {
  position: absolute;
  right: 0;
  bottom: 0;
  order: 1;
  display: inline-block;
  height: 42px;
  width: 42px;
  border-radius: 42px;
  background: url(../assets/catalog-button.svg) right center no-repeat;
  background-size: auto 42px;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .first-screen__nav-catalog {
    position: static;
  }
}
@media (max-width: 992px) {
  .first-screen__nav-catalog {
    height: 35px;
    width: 35px;
    background-size: auto 35px;
  }
}
@media (max-width: 576px) {
  .first-screen__nav-catalog {
    display: flex;
    align-items: center;
    height: auto;
    width: 167px;
    padding: 0 20px;
    aspect-ratio: 4/1;
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
  }
}
.first-screen__nav-catalog:active {
  transform: scale(0.94);
}
.first-screen__nav-catalog-text {
  display: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #1a181d;
}
@media (max-width: 576px) {
  .first-screen__nav-catalog-text {
    display: inline-block;
  }
}

.about {
  position: relative;
  z-index: 10;
  padding: 110px 0 100px;
}
@media (max-width: 992px) {
  .about {
    padding: 90px 0 70px;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 70px 0 50px;
  }
}
.about .container {
  display: flex;
  gap: 50px;
}
@media (max-width: 992px) {
  .about .container {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .about .container {
    gap: 35px;
  }
}
.about__heading {
  flex: 0 0 calc(45% - 25px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px 50px;
}
@media (max-width: 992px) {
  .about__heading {
    flex: 1 1 100%;
    flex-direction: row;
  }
}
@media (max-width: 576px) {
  .about__heading {
    flex-direction: column;
  }
}
.about__heading-title {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}
@media (max-width: 992px) {
  .about__heading-title {
    gap: 5px;
    font-size: 14px;
    line-height: 171%;
  }
}
.about__heading-title-number {
  letter-spacing: 0.15em;
  opacity: 0.6;
}
.about__heading-description-text {
  max-width: 420px;
  font-weight: 400;
  font-size: 18px;
  line-height: 143%;
  color: #fff;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .about__heading-description-text {
    max-width: 320px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .about__heading-description-text {
    max-width: none;
  }
}
.about__info {
  flex: 0 0 calc(55% - 25px);
}
@media (max-width: 992px) {
  .about__info {
    flex: 1 1 100%;
  }
}
.about__info-description {
  margin: 0 0 90px;
  font-weight: 400;
  font-size: 35px;
  line-height: 143%;
  color: #fff;
}
@media (max-width: 1200px) {
  .about__info-description {
    margin: 0 0 70px;
    font-size: 32px;
    line-height: 130%;
  }
}
@media (max-width: 992px) {
  .about__info-description {
    margin: 0 0 35px;
    font-size: 30px;
    line-height: 127%;
  }
}
@media (max-width: 576px) {
  .about__info-description {
    font-size: 22px;
    line-height: 145%;
  }
}
.about__info-description span {
  font-style: italic;
  font-weight: 600;
}
.about__info-controls-button {
  position: relative;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 58px;
  padding: 10px 36px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 48px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .about__info-controls-button {
    height: 45px;
    padding: 10px 28px;
    font-weight: 500;
    font-size: 13px;
  }
}
.about__info-controls-button:hover {
  color: #1a181d;
  background-color: #ffffff;
}
.about__info-controls-button:active {
  transform: scale(0.97);
}
.about__info-controls-button::after {
  content: "";
  position: absolute;
  left: 100%;
  height: 58px;
  width: 58px;
  border-radius: 48px;
  background: url(../assets/icons/arrow.svg) center no-repeat;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .about__info-controls-button::after {
    height: 45px;
    width: 45px;
  }
}

.catalog-slider {
  overflow: hidden;
  padding-bottom: 90px;
}
.catalog-slider .swiper {
  overflow: visible;
}
.catalog-slider .swiper-scrollbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 30px;
  width: 100%;
  height: 3px;
  background-color: #333437;
}
.catalog-slider .swiper-scrollbar-drag {
  top: -2px;
  border-radius: 50px;
  height: 7px;
  background-color: #595b60;
}
.catalog-slider__slide {
  padding: 40px;
  border-radius: 24px;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .catalog-slider__slide {
    padding: 25px;
  }
}
.catalog-slider__slide-title {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 48px;
  height: 48px;
  margin: 0 0 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catalog-slider__slide-tag {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #003d89;
}
.catalog-slider__slide-tag:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #003d89;
}
.catalog-slider__slide-figure {
  margin: 24px 0;
}
.catalog-slider__slide-figure-image {
  display: block;
  width: 304px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog-slider__slide-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.catalog-slider__slide-controls-more {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #000;
  opacity: 0.6;
  transition: all ease-in-out 0.1s;
  will-change: transform, opacity;
  cursor: pointer;
}
.catalog-slider__slide-controls-more:hover {
  opacity: 1;
}
.catalog-slider__slide-controls-more:active {
  transform: scale(0.98);
}
.catalog-slider__slide-controls-more::after {
  content: "";
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background: url(../assets/icons/arrow-thin.svg) center no-repeat;
}
.catalog-slider__slide-controls-basket {
  display: inline-block;
  width: 46px;
  height: 46px;
  padding: 0;
  border: none;
  border-radius: 40px;
  background: url(../assets/icons/basket.svg) center no-repeat;
  background-color: #1a181d;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
.catalog-slider__slide-controls-basket:active {
  transform: scale(0.96);
}

.pass-test__content {
  position: relative;
  padding: 42px 50px;
  border-radius: 20px;
  background: url(../assets/pass-test-bg.webp) center no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .pass-test__content {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .pass-test__content {
    padding: 50px 25px;
  }
}
.pass-test__title {
  position: relative;
  z-index: 10;
  max-width: 654px;
  margin: 0;
  font-weight: 400;
  font-size: 35px;
  line-height: 143%;
  color: #fff;
}
@media (max-width: 992px) {
  .pass-test__title {
    max-width: 548px;
    font-size: 30px;
    line-height: 127%;
  }
}
@media (max-width: 576px) {
  .pass-test__title {
    font-size: 22px;
    line-height: 145%;
  }
}
.pass-test__title span {
  font-style: italic;
  font-weight: 600;
}
.pass-test__controls {
  position: relative;
  z-index: 10;
  padding: 70px 0 76px;
}
@media (max-width: 992px) {
  .pass-test__controls {
    padding: 30px 0 100px;
  }
}
@media (max-width: 576px) {
  .pass-test__controls {
    padding: 35px 0;
  }
}
.pass-test__controls-button {
  position: relative;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 58px;
  padding: 10px 36px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 48px;
  background-color: rgba(255, 255, 255, 0);
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .pass-test__controls-button {
    height: 45px;
    padding: 10px 28px;
    font-weight: 500;
    font-size: 13px;
  }
}
.pass-test__controls-button:hover {
  color: #1a181d;
  background-color: #ffffff;
}
.pass-test__controls-button:active {
  transform: scale(0.97);
}
.pass-test__controls-button::after {
  content: "";
  position: absolute;
  left: 100%;
  height: 58px;
  width: 58px;
  border-radius: 48px;
  background: url(../assets/icons/arrow.svg) center no-repeat;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .pass-test__controls-button::after {
    height: 45px;
    width: 45px;
  }
}
.pass-test__description {
  position: relative;
  z-index: 10;
  max-width: 642px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 992px) {
  .pass-test__description {
    max-width: 480px;
    font-size: 16px;
    line-height: 127%;
  }
}
@media (max-width: 576px) {
  .pass-test__description {
    max-width: 228px;
    font-size: 12px;
    line-height: 145%;
  }
}
.pass-test__figure {
  position: absolute;
  top: 55%;
  left: 720px;
  transform: translateY(-50%);
}
@media (max-width: 1200px) {
  .pass-test__figure {
    left: 640px;
  }
}
@media (max-width: 992px) {
  .pass-test__figure {
    left: 540px;
  }
}
@media (max-width: 768px) {
  .pass-test__figure {
    left: auto;
    right: -30px;
    top: 76%;
  }
}
@media (max-width: 576px) {
  .pass-test__figure {
    top: 140%;
  }
}
.pass-test__figure::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 51%;
  height: 68%;
  width: 27%;
  border-radius: 200px;
  background: rgba(255, 228, 185, 0.5);
  transform: translateX(-50%) translateY(-50%) rotate(-30deg);
  filter: drop-shadow(0px 0px 124px #ffe4b9);
}
@media (max-width: 768px) {
  .pass-test__figure::before {
    filter: drop-shadow(0px 0px 40px #ffe4b9);
  }
}
@media (max-width: 576px) {
  .pass-test__figure::before {
    filter: drop-shadow(0px 0px 25px #ffe4b9);
  }
}
.pass-test__figure-led {
  position: relative;
  z-index: 1;
  display: block;
  max-width: none;
  width: 520px;
  height: auto;
}
@media (max-width: 1200px) {
  .pass-test__figure-led {
    width: 480px;
  }
}
@media (max-width: 992px) {
  .pass-test__figure-led {
    width: 360px;
  }
}
@media (max-width: 768px) {
  .pass-test__figure-led {
    width: 280px;
  }
}
@media (max-width: 576px) {
  .pass-test__figure-led {
    width: 260px;
  }
}

.advantages {
  position: relative;
  z-index: 10;
  padding: 120px 0;
}
@media (max-width: 992px) {
  .advantages {
    padding: 70px 0;
  }
}
.advantages__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 768px) {
  .advantages__content {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .advantages__content {
    gap: 16px;
  }
}
.advantages__info {
  flex: 0 0 calc(50% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  order: 0;
  min-height: 264px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .advantages__info {
    flex: 0 0 calc(66.6666666667% - 10px);
  }
}
@media (max-width: 768px) {
  .advantages__info {
    flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 576px) {
  .advantages__info {
    flex: 0 0 100%;
    min-height: 225px;
    margin-bottom: 16px;
    padding-right: 120px;
  }
}
.advantages__info-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}
.advantages__info-title-number {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: rgba(255, 255, 255, 0.6);
}
.advantages__info-title-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}
.advantages__info-text {
  max-width: 354px;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: rgba(255, 255, 255, 0.6);
}
.advantages__block {
  flex: 0 0 calc(25% - 22.5px);
  display: flex;
  flex-direction: column;
  min-height: 264px;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .advantages__block {
    flex: 0 0 calc(33.3333333333% - 20px);
  }
}
@media (max-width: 768px) {
  .advantages__block {
    flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 576px) {
  .advantages__block {
    flex: 0 0 100%;
    min-height: 225px;
  }
}
@media (max-width: 768px) {
  .advantages__block:nth-child(2) {
    order: 3;
  }
}
@media (max-width: 576px) {
  .advantages__block:nth-child(2) {
    min-height: 24px;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .advantages__block:nth-child(3) {
    order: 1;
  }
}
@media (max-width: 768px) {
  .advantages__block:nth-child(4) {
    display: none;
  }
}
@media (max-width: 768px) {
  .advantages__block:nth-child(5) {
    order: 2;
  }
}
@media (max-width: 768px) {
  .advantages__block:nth-child(6) {
    order: 4;
  }
}
@media (max-width: 768px) {
  .advantages__block:nth-child(7) {
    order: 5;
  }
}
@media (max-width: 768px) {
  .advantages__block:nth-child(8) {
    order: 6;
  }
}
@media (max-width: 768px) {
  .advantages__block:nth-child(9) {
    order: 8;
  }
}
@media (max-width: 576px) {
  .advantages__block:nth-child(9) {
    min-height: 24px;
    background-position: center right;
  }
}
@media (max-width: 768px) {
  .advantages__block:nth-child(10) {
    order: 9;
  }
}
@media (max-width: 768px) {
  .advantages__block:nth-child(11) {
    order: 7;
  }
}
.advantages__block_filled {
  background-color: #333437;
}
.advantages__block_outlined {
  border: 2px solid #616161;
}
.advantages__block_arrow {
  border-radius: 0;
  background: url(../assets/icons/arrow-down.svg) top right no-repeat;
}
.advantages__block_textonly {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  padding: 0;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #616161;
}
.advantages__block-number {
  flex: 1 1 auto;
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: #969ca2;
}
.advantages__block-heading {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 52px;
  color: #fff;
}
@media (max-width: 992px) {
  .advantages__block-heading {
    font-size: 44px;
  }
}
.advantages__block-heading_md {
  font-size: 36px;
}
@media (max-width: 992px) {
  .advantages__block-heading_md {
    font-size: 30px;
    line-height: 173%;
  }
}
.advantages__block-heading_md span {
  font-size: 52px;
}
@media (max-width: 992px) {
  .advantages__block-heading_md span {
    font-size: 44px;
  }
}
.advantages__block-title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 992px) {
  .advantages__block-title {
    font-size: 22px;
  }
}
.advantages__block-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  opacity: 0.8;
}
@media (max-width: 992px) {
  .advantages__block-text {
    font-size: 16px;
    line-height: 137%;
  }
}
@media (max-width: 576px) {
  .advantages__block-text {
    font-size: 14px;
    line-height: 143%;
  }
}

.projects__content {
  padding: 50px;
  border-radius: 20px;
  background-color: #333437;
}
@media (max-width: 576px) {
  .projects__content {
    padding: 25px;
  }
}
.projects__top {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 0 0 70px;
}
@media (max-width: 1200px) {
  .projects__top {
    position: relative;
    flex-direction: column;
    margin: 0 0 55px;
  }
}
@media (max-width: 576px) {
  .projects__top {
    margin-bottom: 120px;
  }
}
.projects__top-info {
  position: relative;
}
@media (max-width: 1200px) {
  .projects__top-info {
    position: static;
  }
}
.projects__top-info-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 20px;
}
@media (max-width: 1200px) {
  .projects__top-info-title {
    margin: 0 0 30px;
  }
}
.projects__top-info-title-number {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 0.6);
}
.projects__top-info-title-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}
.projects__top-info-text {
  max-width: 777px;
  font-weight: 400;
  font-size: 46px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1200px) {
  .projects__top-info-text {
    font-size: 30px;
  }
}
.projects__top-info-text b {
  font-weight: 600;
}
.projects__top-info-text i {
  font-style: italic;
}
.projects__top-info-controls {
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 10;
}
@media (max-width: 1200px) {
  .projects__top-info-controls {
    top: auto;
    bottom: 0;
  }
}
@media (max-width: 576px) {
  .projects__top-info-controls {
    position: absolute;
    top: calc(100% + 30px);
    left: auto;
    right: 0;
  }
}
.projects__top-info-controls-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 0 0 28px;
}
@media (max-width: 576px) {
  .projects__top-info-controls-buttons {
    justify-content: flex-end;
    margin: 0 0 10px;
  }
}
.projects__top-info-controls-buttons-next, .projects__top-info-controls-buttons-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 35px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .projects__top-info-controls-buttons-next, .projects__top-info-controls-buttons-prev {
    width: 35px;
    height: 35px;
  }
}
.projects__top-info-controls-buttons-next::before, .projects__top-info-controls-buttons-prev::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 16px;
  background: url(../assets/icons/prev.svg) left center no-repeat;
}
.projects__top-info-controls-buttons-next {
  background-color: #ffffff;
}
.projects__top-info-controls-buttons-next::before {
  filter: brightness(0.2);
  transform: rotate(180deg);
}
.projects__top-info-controls-buttons-prev {
  background-color: rgba(255, 255, 255, 0);
}
.projects__top-info-controls-more-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}
@media (max-width: 576px) {
  .projects__top-info-controls-more-link {
    font-size: 14px;
  }
}
.projects__top-info-controls-more-link::after {
  content: "";
  width: 40px;
  height: 8px;
  background: url(../assets/icons/arrow-thin.svg) center no-repeat;
  background-size: 40px;
  filter: brightness(1) invert(1);
}
@media (max-width: 576px) {
  .projects__top-info-controls-more-link::after {
    display: none;
  }
}
.projects__top-nav {
  position: relative;
  flex: 0 0 400px;
  max-height: 278px;
}
@media (max-width: 1200px) {
  .projects__top-nav {
    flex: 0 1 auto;
    padding-left: 160px;
  }
}
@media (max-width: 576px) {
  .projects__top-nav {
    padding-left: 0;
  }
}
.projects__top-nav::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 240px;
  color: #333437;
  background: linear-gradient(180deg, rgba(51, 52, 55, 0) 0, #333437 100%);
  transition: height ease-in-out 0.2s;
}
@media (max-width: 576px) {
  .projects__top-nav::before {
    height: 60px;
  }
}
.projects__top-nav:hover::before {
  height: 0px;
}
.projects__top-nav-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-right: 8px;
  height: 278px;
  overflow: auto;
}
@media (max-width: 1200px) {
  .projects__top-nav-content {
    height: 235px;
    gap: 25px;
  }
}
@media (max-width: 576px) {
  .projects__top-nav-content {
    height: 170px;
    gap: 15px;
  }
}
.projects__top-nav-content::-webkit-scrollbar {
  width: 4px;
}
.projects__top-nav-content::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 4px;
}
.projects__top-nav-content::-webkit-scrollbar-thumb {
  background: #666666;
}
.projects__top-nav-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  color: rgba(255, 255, 255, 0.4);
  transition: color ease-in-out 0.1s;
}
@media (max-width: 1200px) {
  .projects__top-nav-link {
    font-size: 22px;
    line-height: 27px;
  }
}
@media (max-width: 576px) {
  .projects__top-nav-link {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}
.projects__top-nav-link.active {
  color: white;
}
.projects__top-nav-link:hover {
  color: white;
}
.projects__slider-slide {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}
@media (max-width: 992px) {
  .projects__slider-slide {
    flex-direction: column-reverse;
  }
}
.projects__slider-slide-info {
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
}
@media (max-width: 992px) {
  .projects__slider-slide-info {
    flex: 0 1 auto;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .projects__slider-slide-info {
    gap: 5px;
  }
}
.projects__slider-slide-info-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: #fff;
}
@media (max-width: 992px) {
  .projects__slider-slide-info-text {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 576px) {
  .projects__slider-slide-info-text {
    font-size: 18px;
    line-height: 133%;
  }
}
.projects__slider-slide-info-location {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  opacity: 0.6;
}
@media (max-width: 992px) {
  .projects__slider-slide-info-location {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 576px) {
  .projects__slider-slide-info-location {
    font-size: 14px;
    line-height: 171%;
  }
}
.projects__slider-slide-figure {
  flex: 1 1 auto;
}
@media (max-width: 992px) {
  .projects__slider-slide-figure {
    flex: 0 1 auto;
  }
}
.projects__slider-slide-figure-image {
  display: block;
  width: 100%;
  height: 540px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .projects__slider-slide-figure-image {
    height: 470px;
  }
}
@media (max-width: 576px) {
  .projects__slider-slide-figure-image {
    height: 270px;
  }
}
.projects__slider .swiper-slide-active > * {
  flex-direction: row;
}
@media (max-width: 992px) {
  .projects__slider .swiper-slide-active > * {
    flex-direction: column-reverse;
  }
}