.about-advantages {
  position: relative;
  z-index: 10;
  padding: 50px 0;

  @include laptop {
    padding: 30px 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include laptop {
      gap: 20px;
    }

    @include mobile {
      gap: 16px;
    }
  }

  &__info {
    flex: 0 0 calc(100% / 4 - 30px / 4 * 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    order: 0;
    min-height: 264px;
    box-sizing: border-box;

    @include laptop {
      flex: 0 0 calc(100% / 2 - 20px / 2);
    }

    @include mobile {
      flex: 0 0 100%;
      min-height: auto;
      margin-bottom: 0;
      padding-right: 0;
    }

    &-title {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0;

      &-number {
        font-weight: 600;
        font-size: 18px;
        line-height: 133%;
        color: rgba($color: $white, $alpha: 0.6);
      }

      &-text {
        font-weight: 600;
        font-size: 18px;
        line-height: 133%;
        color: #fff;
      }
    }

    &-text {
      max-width: 354px;
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      color: rgba($color: $white, $alpha: 0.6);
    }
  }

  &__block {
    flex: 0 0 calc(100% / 4 - 30px / 4 * 3);
    display: flex;
    flex-direction: column;
    min-height: 264px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid #333437;
    background-color: #333437;
    transition: border ease-in-out 0.2s, background-color ease-in-out 0.2s;

    @include laptop {
      flex: 0 0 calc(100% / 2 - 20px / 2);
    }

    @include mobile {
      flex: 0 0 100%;
      min-height: 225px;
    }

    &:hover {
      border: 2px solid #616161;
      background-color: rgba($color: #333437, $alpha: 0);
    }

    &_arrow {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0;
      border: none;
      border-radius: 0;
      background: none;

      @include mobile {
        min-height: auto;
      }

      &:hover {
        border: none;
      }

      &::before {
        content: '';
        display: block;
        width: 32px;
        aspect-ratio: 1 / 1;
        background: url(../assets/icons/arrow-down.svg) top right no-repeat;
        transform: rotate(180deg);
      }
    }

    &-number {
      flex: 1 1 auto;
      margin: 0 0 10px;
      font-weight: 400;
      font-size: 14px;
      text-align: right;
      color: #969ca2;
    }

    &-heading {
      margin: 0 0 10px;

      &-number {
        font-weight: 700;
        font-size: 52px;
        color: #fff;

        @include desktop {
          font-size: 44px;
        }
      }

      &-text {
        font-weight: 700;
        font-size: 36px;
        color: #fff;

        @include desktop {
          font-size: 30px;
        }
      }
    }

    &-title {
      margin: 0 0 10px;
      font-weight: 700;
      font-size: 24px;
      color: #fff;

      @include laptop {
        font-size: 22px;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      color: #fff;
      opacity: 0.8;

      @include laptop {
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
}
