.projects {
  &__content {
    padding: 50px;
    border-radius: 20px;
    background-color: #333437;
    overflow: hidden;

    @include mobile {
      padding: 25px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0 0 70px;

    @include desktop {
      position: relative;
      flex-direction: column;
      margin: 0 0 55px;
    }

    @include mobile {
      margin-bottom: 120px;
    }

    &-info {
      position: relative;

      @include desktop {
        position: static;
      }

      &-title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 0 20px;

        @include desktop {
          margin: 0 0 30px;
        }

        &-number {
          font-weight: 600;
          font-size: 18px;
          line-height: 133%;
          letter-spacing: 0.15em;
          color: rgba($color: $white, $alpha: 0.6);
        }

        &-text {
          font-weight: 600;
          font-size: 18px;
          line-height: 133%;
          color: #fff;
        }
      }

      &-text {
        max-width: 777px;
        font-weight: 400;
        font-size: 46px;
        line-height: 130%;
        text-transform: uppercase;
        color: #fff;

        @include desktop {
          font-size: 30px;
        }

        & b {
          font-weight: 600;
        }

        & i {
          font-style: italic;
        }
      }

      &-controls {
        position: absolute;
        top: 350px;
        left: 0;
        z-index: 10;

        @include desktop {
          top: auto;
          bottom: 0;
        }

        @include mobile {
          position: absolute;
          top: calc(100% + 30px);
          left: auto;
          right: 0;
        }

        &-buttons {
          display: flex;
          align-items: center;
          gap: 14px;
          margin: 0 0 28px;

          @include mobile {
            justify-content: flex-end;
            margin: 0 0 10px;
          }

          &-next,
          &-prev {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            padding: 0;
            box-sizing: border-box;
            border: 1px solid #ffffff;
            border-radius: 35px;
            transition: background-color ease-in-out 0.1s, transform ease-in-out 0.1s;
            cursor: pointer;

            @include mobile {
              width: 35px;
              height: 35px;
            }

            &:active {
              transform: scale(0.96);
            }

            &::before {
              content: '';
              display: inline-block;
              width: 12px;
              height: 16px;
              background: url(../assets/icons/prev.svg) left center no-repeat;
              transition: filter ease-in-out 0.1s;
            }
          }

          &-next {
            background-color: rgba($color: #ffffff, $alpha: 1);

            &:hover {
              background-color: rgba($color: #333437, $alpha: 1);
            }

            &::before {
              filter: brightness(0.2);
              transform: rotate(180deg);
            }

            &:hover::before {
              filter: brightness(1);
            }
          }

          &-prev {
            background-color: rgba($color: #333437, $alpha: 1);

            &:hover {
              background-color: rgba($color: #ffffff, $alpha: 1);
            }

            &::before {
              filter: brightness(1);
            }

            &:hover::before {
              filter: brightness(0.2);
            }
          }
        }

        &-more-link {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 400;
          font-size: 18px;
          line-height: 100%;
          color: #fff;
          transition: all ease-in-out 0.1s;

          @include mobile {
            font-size: 14px;
          }

          &:hover {
            opacity: 0.8;
          }

          &:active {
            transform: scale(0.96);
          }

          &::after {
            content: '';
            width: 40px;
            height: 8px;
            background: url(../assets/icons/arrow-thin.svg) center no-repeat;
            background-size: 40px;
            filter: brightness(1) invert(1);

            @include mobile {
              display: none;
            }
          }
        }
      }
    }

    &-nav {
      position: relative;
      flex: 0 0 400px;
      max-height: 278px;

      @include desktop {
        flex: 0 1 auto;
        padding-left: 160px;
      }

      @include mobile {
        padding-left: 0;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        height: 240px;
        color: rgba($color: #333437, $alpha: 1);
        background: linear-gradient(
          180deg,
          rgba($color: #333437, $alpha: 0) 0,
          rgba($color: #333437, $alpha: 1) 100%
        );
        transition: height ease-in-out 0.2s;

        @include mobile {
          height: 60px;
        }
      }

      &:hover::before {
        height: 0px;
      }

      &-content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-right: 8px;
        height: 278px;
        overflow: auto;

        @include desktop {
          height: 235px;
          gap: 25px;
        }

        @include mobile {
          height: 170px;
          gap: 15px;
        }

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          background: #333333;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background: #666666;
        }
      }

      &-link {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-align: right;
        color: rgba($color: $white, $alpha: 0.4);
        transition: color ease-in-out 0.1s;

        @include desktop {
          font-size: 22px;
          line-height: 27px;
        }

        @include mobile {
          font-size: 18px;
          line-height: 22px;
          text-align: left;
        }

        &.active {
          color: rgba($color: $white, $alpha: 1);
        }

        &:hover {
          color: rgba($color: $white, $alpha: 1);
        }
      }
    }
  }

  &__slider {
    &-slide {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;

      @include laptop {
        flex-direction: column-reverse;
      }

      &-info {
        flex: 0 0 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 15px;

        @include laptop {
          flex: 0 1 auto;
          gap: 10px;
        }

        @include mobile {
          gap: 5px;
        }

        &-text {
          font-weight: 500;
          font-size: 24px;
          line-height: 125%;
          color: #fff;

          @include laptop {
            font-size: 20px;
            line-height: 150%;
          }

          @include mobile {
            font-size: 18px;
            line-height: 133%;
          }
        }

        &-location {
          font-weight: 400;
          font-size: 18px;
          line-height: 133%;
          color: #fff;
          opacity: 0.6;

          @include laptop {
            font-size: 16px;
            line-height: 150%;
          }

          @include mobile {
            font-size: 14px;
            line-height: 171%;
          }
        }
      }

      &-figure {
        flex: 1 1 auto;

        @include laptop {
          flex: 0 1 auto;
        }

        &-image {
          display: block;
          width: 100%;
          height: 540px;
          border-radius: 20px;
          object-fit: cover;

          @include laptop {
            height: 470px;
          }

          @include mobile {
            height: 270px;
          }
        }
      }
    }

    & .swiper {
      overflow: visible;

      &-slide {
        &-active {
          & > * {
            flex-direction: row;

            @include laptop {
              flex-direction: column-reverse;
            }
          }
        }
      }
    }
  }
}
