.pass-test {
  &__content {
    position: relative;
    padding: 42px 50px;
    border-radius: 20px;
    background: url(../assets/pass-test-bg.webp) center no-repeat;
    background-size: cover;

    @include laptop {
      padding: 40px;
    }

    @include mobile {
      padding: 50px 25px;
    }
  }

  &__title {
    position: relative;
    z-index: 10;
    max-width: 654px;
    margin: 0;
    font-weight: 400;
    font-size: 35px;
    line-height: 143%;
    color: #fff;

    @include laptop {
      max-width: 548px;
      font-size: 30px;
      line-height: 127%;
    }

    @include mobile {
      font-size: 22px;
      line-height: 145%;
    }

    & span {
      font-style: italic;
      font-weight: 600;
    }
  }

  &__controls {
    position: relative;
    z-index: 10;
    padding: 70px 0 76px;

    @include laptop {
      padding: 30px 0 100px;
    }

    @include mobile {
      padding: 35px 0;
    }

    &-button {
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;
      height: 58px;
      padding: 10px 36px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 48px;
      background-color: rgba($color: $white, $alpha: 0);
      transition: all ease-in-out 0.1s;
      cursor: pointer;

      @include laptop {
        height: 45px;
        padding: 10px 28px;
        font-weight: 500;
        font-size: 13px;
      }

      &:hover {
        color: $black;
        background-color: $white;
      }

      &:active {
        transform: scale(0.97);
      }

      &::after {
        content: '';
        position: absolute;
        left: 100%;
        height: 58px;
        width: 58px;
        border-radius: 48px;
        background: url(../assets/icons/arrow.svg) center no-repeat;
        background-color: $white;

        @include laptop {
          height: 45px;
          width: 45px;
        }
      }
    }
  }

  &__description {
    position: relative;
    z-index: 10;
    max-width: 642px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba($color: $white, $alpha: 0.6);

    @include laptop {
      max-width: 480px;
      font-size: 16px;
      line-height: 127%;
    }

    @include mobile {
      max-width: 228px;
      font-size: 12px;
      line-height: 145%;
    }
  }

  &__figure {
    position: absolute;
    top: 55%;
    left: 720px;
    transform: translateY(-50%);

    @include desktop {
      left: 640px;
    }

    @include laptop {
      left: 540px;
    }

    @include tablet {
      left: auto;
      right: -30px;
      top: 76%;
    }

    @include mobile {
      top: 140%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 39%;
      left: 51%;
      height: 68%;
      width: 27%;
      border-radius: 200px;
      background: rgba($color: #ffe4b9, $alpha: 0.5);
      transform: translateX(-50%) translateY(-50%) rotate(-30deg);
      filter: drop-shadow(0px 0px 124px #ffe4b9);

      @include tablet {
        filter: drop-shadow(0px 0px 40px #ffe4b9);
      }

      @include mobile {
        filter: drop-shadow(0px 0px 25px #ffe4b9);
      }
    }

    &-led {
      position: relative;
      z-index: 1;
      display: block;
      max-width: none;
      width: 520px;
      height: auto;

      @include desktop {
        width: 480px;
      }

      @include laptop {
        width: 360px;
      }

      @include tablet {
        width: 280px;
      }

      @include mobile {
        width: 260px;
      }
    }
  }
}
